@{
    var class1 = new WMCC.Class1();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        var connection = new WebSocket("ws://192.168.254.194:9080");
        connection.onopen = function () {
            connection.send('WMCC^EREFRESH|GetServerVersion<Client Quit>');
        };
        connection.onmessage = function (e) {
            console.log('Server: ' + e.data);
        };
    </script>
</head>
<body>
    <div>
        <h3>Commands</h3>
        <ul>
            <li>@string.Format("WMCC^EREFRESH|GetServerVersion<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|GetChannels<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|GetEntries|chID|startDt|endDt<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|GetTimers<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|GetSeriesTimers<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|GetPlexLiveStreamInfo<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|OpenLiveStream|chID|IncludeStreamInfo<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|SetTimer|-1[epg]|chID|startTime|endTime|pvr_time_state|name|0|2[prepadmin]|3[postpadmin]|false|entryId|false[forceprepad]|false[forcepostpad]<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|CancelTimer|timerId<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|CancelSeriesTimer|seriesId<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|DeleteRecording|recordingId<Client Quit>")</li>
            <li>@string.Format("WMCC^EREFRESH|CloseLiveStream<Client Quit>")</li>
        </ul>

        <h3>@class1.getServerVersionCommand</h3>
        <ul>
            <li>@class1.version</li>
            <li>@class1.build</li>
            <li>@class1.tvDirectory</li>
            <li>@class1.macAddress</li>
        </ul>
        <h3>@class1.getChannelsCommand</h3>
        <ul>
            @foreach (var channel in class1.channels)
            {
                if (channel != class1.channels[0])
                {
                    <li style="list-style-type:none">&nbsp;</li>
                }
                <li>@channel.id</li>
                <li>@channel.fullChannel</li>
                <li>@channel.description</li>
                <li><a href="@channel.url">@channel.url</a></li>
            }
        </ul>

        <h3>@class1.getEntriesCommand</h3>
        <ul>
            @foreach (var show in class1.shows)
            {
                <li>@show.id @show.startTime @show.title @show.episode</li>
            }
        </ul>
    </div>
</body>
</html>
